$document-width: 1000px;
$document-height: 1427px;

$document-background-color: #dbdadf;
$document-separator-color: #c5c4c8;
$document-ink-color: #23262d;
$document-accent-color: #0296d4;

$document-padding-top: 120px;
$document-padding-left: 60px;
$document-padding-right: 60px;
$document-padding-bottom: 150px;

$document-header-right-width: 335px;

$document-header-meta-padding-top: 30px;
$document-header-meta-padding-bottom: 20px;