/**
 * Base dropdown class
 */
.dropdown
{
    font-size: 16px;

    position: relative;

    cursor: default;
    user-select: none;
    &:focus
    {
        outline: none;
    }
    &--reversed
    {
        .dropdown__input
        {
            border-radius: 0 0 3px 3px !important;
        }
    }
    /**
     * List of dropdown options
     */
    &__options
    {
        position: absolute;
        z-index: 1;

        width: 100%;
        padding-top: 17px;
        padding-bottom: 17px;

        border: 1px solid #e2e2e2;
        border-top: 1px solid #ebebeb;
        border-radius: 0 0 $border-radius $border-radius;
        background: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .02);
        &.scrollable
        {
            max-height: 197px;
        }
        &--reversed
        {
            z-index: 0;
            bottom: 44px;

            border-top: none;
            border-bottom: 1px solid #ebebeb !important;
            border-radius: 3px 3px 0 0 !important;
        }
    }
    /**
     * Dropdown option base style
     */
    &__option
    {
        line-height: 34px;

        display: flex;

        padding: 0 15px 0 26px;

        cursor: default;
        user-select: none;
        /**
         * Slight shade on hover
         */
        &:hover
        {
            background: $color-wild-sand;
        }
        .dropdown-option__content
        {
            overflow: hidden;

            white-space: nowrap;
            text-overflow: ellipsis;
        }
        /**
         * This options is checkable, a.k.a it has checkbox
         */
        &--checkbox
        {
            // reset font size to fix whitespace issues
            font-size: 0;
            // checkbox inside should be relative to it's
            // parent option, which happens to be this option

            position: relative;

            height: 34px;
            padding: 6px 10px 7px 26px;

            user-select: none;
            /**
             * Checkbox inside this option
             */
            .checkbox
            {
                display: inline-block;
            }
            /**
             * Option label next to checkbox
             */
            .option-label
            {
                // Set font size back to default
                font-size: 16px;
                font-weight: 400;
                line-height: initial;

                display: inline-block;
                overflow: hidden;

                max-width: 160px;
                margin-left: 18px;

                vertical-align: top;
                white-space: nowrap;
                text-overflow: ellipsis;

                border-radius: $border-radius;
            }
        }
        /**
         * Option which has other options inside of it
         */
        &--nested
        {
            // Child options dropdown position should be relative to this option
            position: relative;

            overflow: visible;

            padding-left: 26px;
            /**
             * Label of this nested option
             */
             > .option-label
            {
                /**
                 * Small triangle arrow indicating that this option is
                 * indeed a dropdown by itself
                 */
                &::after
                {
                    position: absolute;
                    top: 13px;
                    right: 15px;

                    content: '';

                    color: $color-mine-shaft;
                    border-width: 4px 0 4px 4px;
                    border-style: solid;
                    border-color: transparent transparent transparent $color-mine-shaft;
                }
            }
            /**
             * Wrapper for child dropdown search input,
             * so we can position it better
             */
            .dropdown__child-search-wrapper
            {
                margin: 0 15px 17px 15px;
                padding-right: 25px;

                border-bottom: 1px solid $color-mercury;
            }
            /**
             * Search input for child options
             */
            .dropdown__child-search
            {
                font-weight: 600;
                line-height: initial;

                display: block;
                overflow: hidden;

                height: 35px;

                white-space: nowrap;

                color: $color-main;
                /**
                 * On focus show basic text w/o much styling
                 */
                &:focus
                {
                    font-weight: normal;

                    color: $color-mine-shaft;
                    outline: none;
                }
                /**
                 * When search input isn't focused,
                 * and is empty - show placeholder
                 */
                &:empty:not(:focus)::before
                {
                    font-weight: normal;

                    content: attr(data-placeholder);
                    cursor: text;
                    text-transform: capitalize;

                    color: $color-text-placeholder;
                    background: $color-white;
                }
            }
            /**
             * List containing all child options
             */
            .dropdown__childs-menu
            {
                position: absolute;
                top: -8px;
                left: 268px;

                width: 268px;
                padding: 13px 0 18px;

                border-top: 1px solid $color-gallery;
                border-radius: 0 0 $border-radius $border-radius;
                background: $color-white;
                box-shadow: $box-shadow;
                /**
                 * And the child option itself
                 */
                .dropdown__option
                {
                    padding-left: 26px;
                }
            }
        }
    }
    /**
     * Search query input or static display of current selected value
     */
    &__input
    {
        @extend .form__input;

        line-height: 44px;

        padding: 0 35px 0 15px;

        background: $color-white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .02);
        &:focus
        {
            outline: none;
        }
        &.--placeholder
        {
            // color: $color-text-placeholder;
        }
        // &:not(.--datepicker) {
        // caret
        &::after,
        &-wrapper::after
        {
            position: absolute;
            top: 20px;
            right: 15px;

            content: '';

            border-top: 4px solid $color-mine-shaft;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
        // }
        &-wrapper
        {
            position: relative;
        }
    }
    // caret when open
    &--open &__input,
    &--open &__input-wrapper
    {
        border-radius: $border-radius $border-radius 0 0;
        &::after
        {
            top: 16px;

            border-top: 4px solid transparent;
            border-bottom: 4px solid $color-mine-shaft;
            border-left: 4px solid transparent;
        }
    }
    /**
     * filter by checkbox
     */
    &--primary
    {
        width: 268px;
        &:not(:first-child)
        {
            margin-left: 30px;
        }
        &.dropdown--open
        {
            // adjust caret height for filter dropdown
            // because of different height
             > .dropdown__input::before
            {
                top: 16px;
            }
        }
        /**
         * Adjust heights and shadows
         */
        .dropdown__input
        {
            line-height: 44px;

            position: relative;

            height: 44px;

            border: none;
            box-shadow: $box-shadow;
            &::before
            {
                top: 20px;
            }
        }
        /**
         * Box shadow on dropdown menu
         */
        > .dropdown__options,
        > .dropdown__options-wrapper
        {
            border-right: none;
            border-bottom: none;
            border-left: none;
            box-shadow: $box-shadow-primary-dropdown-options;
            &.dropdown__options--reversed
            {
                box-shadow: $box-shadow;
            }
        }
    }
    &--small
    {
        min-width: 140px;
    }
    &--hide-overflow
    {
        .dropdown__option
        {
            overflow: hidden;
        }
    }
}

/**
 * Position relative, so we can position clear input icon correctly
 */
.dropdown__option--text
{
    position: relative;

    margin: 0;
    padding: 0;

    cursor: text;
}

/**
 * Medium.js input default style
 * w/o focus or anything
 */
.dropdown__option--text-input
{
    font-weight: 600;
    line-height: 34px;

    width: 100%;
    height: 34px;
    padding-left: 26px;

    color: $color-main;
    input {
        padding-right: 40px;
        &::placeholder {
            font-weight: normal;

            text-transform: capitalize;

            color: $color-text;
        }
        &:focus::placeholder {
            color: transparent;
        }
    }
    /**
     * If empty and w/o content, show placeholder
     * and imitate text field
     */
    &.dropdown__option--empty:not(.dropdown__option--focused)::before
    {
        font-weight: normal;

        content: attr(data-placeholder);
        cursor: text;
        text-transform: capitalize;

        color: $color-text;
    }
    /**
     * On hover highlight background
     */
    &:hover
    {
        background: $color-wild-sand;
    }
    /**
     * On parent element hover, fix white background on placeholder
     */
    .dropdown__option--text:hover &::before
    {
        background: none;
    }
    /**
     * On focus, prepare for input
     */
    &:focus {
        background: $color-main;
    }
    &:focus, &--focused input
    {
        color: $color-text-alt;
        outline: none;
        /**
         * and hide placeholder
         */
        &::before
        {
            display: none;
        }
    }
}

.dropdown__option--focused {
    background: $color-main !important;
    input {
        color: white;
        outline: none;
    }
}

/**
 * Clear input button
 */
.mediumjs-input-clear
{
    /**
     * Base style
     */
    .mediumjs-input + &,
    .dropdown__option--date-range &
    {
        position: absolute;

        width: 12px;
        height: 12px;

        cursor: pointer;

        background: url(../assets/icons/cross.svg) center center no-repeat;
        background-size: contain;
    }
    /**
     * Dropdown text option
     */
    .dropdown__option--text-input + &
    {
        top: 11px;
        right: 15px;
    }
    .dropdown__option--focused + &
    {
        background-image: url(../assets/icons/cross-white.svg);
    }
    /**
     * Ranged date option input
     */
    .dropdown__option--date-range &
    {
        top: 11px;
        right: 15px;
    }
    /**
     * Dropdown nested option search input
     */
    .dropdown__child-search + &
    {
        top: 18px;
        right: 15px;
    }
    /**
     * Inline select search input
     */
    .inline-select__search-input + &
    {
        top: 18px;
        right: 15px;
    }
    /**
     * Numeric option title
     */
    .dropdown-numeric-option__header + &
    {
        top: 11px;
        right: 15px;

        background-image: none;
    }
    .dropdown-numeric-option__header:not(.mediumjs-input--empty) + &
    {
        top: 11px;
        right: 15px;

        background-image: url(../assets/icons/cross.svg);
    }
    .dropdown__option--open .dropdown-numeric-option__header + &
    {
        top: 11px;
        right: 15px;

        background-image: url(../assets/icons/cross-white.svg);
    }
}
