.form
{
    &__inline-inputs
    {
        display: flex;

        margin: 40px 0;

        justify-content: space-between;
        &:last-child
        {
            margin-bottom: 20px;
        }
    }
    &__input-wrapper
    {
        position: relative;

        width: 100%;
        & + &
        {
            margin-left: 20px;
        }
        & > label
        {
            font-size: 14px;
            font-weight: 600;

            position: absolute;
            top: -21px;

            user-select: none;
        }
    }
    &__inputs-group
    {
        display: flex;
        > * + *
        {
            margin-left: 20px;
        }
    }
    &__input
    {
        font-size: 16px;

        width: 100%;
        height: 42px;
        padding: 0 15px;

        color: #373737;
        border: 1px solid #e2e2e2;
        border-radius: $border-radius;
    }
    textarea
    {
        height: auto;
        padding: 15px;
    }
    &__inline-inputs:first-child
    {
        margin-top: 0;
    }
}
