.form
{
    .dropdown__input
    {
        background: #f7f8fc;
    }
    .dropdown__options
    {
        padding-top: 15px;
        &.scrollable {
            border-right: none;
        }
    }
    &__inline-inputs
    {
        display: flex;

        margin: 20px 0;

        justify-content: space-between;
        &:last-child
        {
            margin-bottom: 20px;
        }
    }
    &__input-wrapper
    {
        position: relative;

        width: 100%;
        margin-top: 20px;
        & + &
        {
            margin-left: 20px;
        }
        & > .form__label
        {
            font-size: 14px;
            font-weight: 600;

            position: absolute;
            top: -21px;

            user-select: none;
            text-transform: capitalize;
        }
    }
    &__inputs-group
    {
        display: flex;
        > * + *
        {
            margin-left: 20px;
        }
        > .form__input-wrapper {
            margin-top: 0;
            width: auto;
        }
    }
    &__input
    {
        font-size: 16px;

        width: 100%;
        padding: 0 15px;
        background: #f7f8fc;

        color: #373737;
        border: none;
        border-radius: $border-radius;
        &:not(textarea)
        {
            height: 44px;
        }
        &:focus {
            outline-color: $color-main;
        }
        &-error
        {
            margin-left: 10px;

            color: $color-red;
        }
        &--inline
        {
            border: none;
            &:focus {
                outline: none;
            }
        }
    }
    textarea
    {
        font-family: inherit;

        height: auto;
        padding: 15px;

        resize: none;
    }
    &__inline-inputs:first-child
    {
        margin-top: 0;
    }
}

.items-list
{
    overflow-x: hidden;

    max-height: 240px;
    margin-top: 20px;
    padding-right: 20px;
    &__item
    {
        font-size: 16px;
        line-height: 44px;

        display: flex;

        height: 44px;
        &:first-child
        {
            margin-top: 5px;
        }
    }
    &__summary
    {
        position: absolute;
        bottom: 41px;

        display: flex;

        width: 924px;
        height: 150px;
        padding-top: 26px;

        border-top: 2px solid #e9e9e9;
        background: #fff;

        justify-content: flex-end;
    }
}

.summary
{
    &-block
    {
        line-height: .7;

        width: 170px;
        height: 38px;
        padding-left: 19px;
        &:not(:last-child)
        {
            border-right: 1px solid #e1e1e1;
        }
        &__title
        {
            font-weight: 600;

            display: block;

            margin-bottom: 16px;
        }
        .currency
        {
            font-size: 16px;
            font-weight: bold;
            line-height: .9;
            &--value
            {
                color: $color-main;
            }
        }
    }
}

.remove-item-btn
{
    position: relative;

    width: 0;
    margin: 0 auto;

    cursor: pointer;
    &__icon
    {
        position: absolute;
        top: 0;
        left: 0;

        padding: 20px;
        &::before
        {
            position: absolute;
            top: 15px;
            left: 13px;

            width: 14px;
            height: 14px;

            content: '';

            background: url(../assets/icons/cross.svg) no-repeat;
            background-size: contain;
        }
    }
}

.list-item
{
    &__field
    {
        & + &
        {
            margin-left: 20px;
        }
    }
    &__index
    {
        display: inline-block;

        width: 30px;
    }
}

.contacts-list {
  height: 366px;
  margin-left: -1px;
  padding-left: 1px;

  &.scrollable {
      padding-right: 20px;
  }
  .separator {
    margin: 40px 0;
    width: 100%;

    border-style: solid;
    border-image-source: url('../assets/icons/upload-border.svg');
    border-image-slice: 5;
    border-image-width: 3px;
    border-image-outset: 1;
    border-image-repeat: round;
    opacity: 0.6;
  }
}

.contact__form {
  position: relative;
}

.delete-contact {
  position: absolute;

  width: 12px;
  height: 12px;

  cursor: pointer;

  background: url(../assets/icons/cross.svg) center center no-repeat;
  background-size: contain;

  top: 25px;
  right: 10px;
}

.add-new-block {
  padding: 20px;
  position: relative;

  &, &::before {
    font-weight: $font-weight-semibold;
    color: $color-main;
    cursor: pointer;
    font-size: 16px;
  }
  &::before {
    content: "+";
    font-weight: bold;
    position: absolute;
    left: 0;
  }
}