.form,
.modal-form
{
    letter-spacing: normal;

    .placeholder-area
    {
        width: 100%;
    }

    .placeholder:not(.placeholder--line)
    {
        width: 100%;
        height: 350px;
        margin: 0 auto;

        background-repeat: no-repeat;
        background-position-x: center;
    }
    .placeholder--line
    {
        transform: scale(.7);
    }

    .dropdown
    {
        // z-index: 1;
    }
    .dropdown__input
    {
        background: #edf1fc;
    }
    .dropdown__options
    {
        padding-top: 15px;
        &.scrollable
        {
            border-right: none;
        }
        &-wrapper
        {
            max-height: 280px;
        }
    }
    &__inline-inputs
    {
        display: flex;

        margin: 20px 0;

        justify-content: space-between;
        &:last-child
        {
            margin-bottom: 20px;
        }
    }
    &__input-wrapper
    {
        position: relative;

        width: 100%;
        margin-top: 20px;
        & + &
        {
            margin-left: 20px;
        }
        & > .form__label
        {
            font-size: 14px;
            font-weight: 600;

            position: absolute;
            top: -21px;

            user-select: none;
            text-transform: capitalize;
        }
    }
    &__inputs-group
    {
        display: flex;
         > * + *
        {
            margin-left: 20px;
        }
         > .form__input-wrapper
        {
            width: auto;
            margin-top: 0;
        }
    }
    &__input
    {
        font-size: 16px;

        width: 100%;
        padding: 0 15px;

        color: #373737;
        border: none;
        border-radius: $border-radius;
        background: #edf1fc;
        &:not(textarea)
        {
            height: 44px;
            line-height: 44px;
        }
        &:focus
        {
            outline-color: $color-main;
        }
        &-error
        {
            margin-left: 10px;

            text-transform: initial;

            color: $color-red;
        }
        &--inline
        {
            border: none;
            &:focus
            {
                outline: none;
            }
        }
    }
    &__inline-inputs:first-child
    {
        margin-top: 0;
    }
    &__row
    {
        display: flex;
    }
    &__column
    {
        width: 100%;
        &--half + &
        {
            margin-left: 92px;
        }
    }
}

textarea.form__input
{
    font-family: inherit;

    height: auto;
    padding: 15px;

    resize: none;
}

.items-list
{
    overflow-x: hidden;

    max-height: 240px;
    margin-top: 20px;
    padding-right: 20px;
    &__item
    {
        font-size: 16px;
        line-height: 44px;

        display: flex;

        height: 44px;
        &:first-child
        {
            margin-top: 5px;
        }
    }
    &__summary
    {
        position: absolute;
        bottom: 41px;

        display: flex;

        width: 924px;
        height: 150px;
        padding-top: 26px;

        border-top: 2px solid #e9e9e9;
        background: #fff;

        justify-content: flex-end;
    }
}

.summary
{
    &-block
    {
        line-height: .7;

        width: 170px;
        height: 38px;
        padding-left: 19px;
        &:not(:last-child)
        {
            border-right: 1px solid #e1e1e1;
        }
        &__title
        {
            font-weight: 600;

            display: block;

            margin-bottom: 16px;
        }
        .currency
        {
            font-size: 16px;
            font-weight: bold;
            line-height: .9;
            &--value
            {
                color: $color-main;
            }
        }
    }
}

.remove-item-btn
{
    position: relative;

    width: 0;
    margin: 0 auto;

    cursor: pointer;
    &__icon
    {
        position: absolute;
        top: 0;
        left: 0;

        padding: 20px;
        &::before
        {
            position: absolute;
            top: 15px;
            left: 13px;

            width: 14px;
            height: 14px;

            content: '';

            background: url(../assets/icons/cross.svg) no-repeat;
            background-size: contain;
        }
    }
}

.list-item
{
    &__field
    {
        & + &
        {
            margin-left: 20px;
        }
    }
    &__index
    {
        display: inline-block;

        width: 30px;
    }
}

.contacts-list
{
    height: 366px;
    margin-left: -1px;
    padding-left: 1px;

    &.scrollable
    {
        margin-right: -26px;
        padding-right: 20px;
    }
    .separator
    {
        width: 100%;
        margin: 40px 0;

        opacity: .6;
        border-style: solid;
        border-image-source: url('../assets/icons/upload-border.svg');
        border-image-slice: 5;
        border-image-width: 3px;
        border-image-outset: 1;
        border-image-repeat: round;
    }
}

.contact__form
{
    position: relative;
}

.delete-contact
{
    position: absolute;
    top: 25px;
    right: 10px;

    width: 12px;
    height: 12px;

    cursor: pointer;

    background: url(../assets/icons/cross.svg) center center no-repeat;
    background-size: contain;
}

.add-new-block
{
    position: relative;

    padding: 20px;

    &,
    &::before
    {
        font-size: 16px;
        font-weight: $font-weight-semibold;

        cursor: pointer;

        color: $color-main;
    }
    &::before
    {
        font-weight: bold;

        position: absolute;
        left: 0;

        content: '+';
    }
}

.half-in-group
{
    width: 100% !important;
}

/**
 * Inline select
 */

.inline-select
{
    margin-top: -20px;
}

.inline-select-head
{
    font-weight: $font-weight-semibold;
    line-height: 35px;

    display: flex;

    height: 35px;
    margin-right: 6px;

    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.inline-select-column:first-child
{
    display: flex;

    width: 60px;
    min-width: 60px;

    align-items: center;
    justify-content: center;
}

.inline-select-column:not(:first-child)
{
    padding: 0 15px;
}

.inline-select-column
{
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    &--center
    {
        display: flex;

        align-items: center;
        justify-content: center;
    }
}

.inline-select__search-wrapper
{
    position: relative;
}

.inline-select__search-input
{
    font-size: 16px;
    font-weight: 600;
    line-height: 52px;

    display: block;
    overflow: hidden;

    height: 52px;

    white-space: nowrap;

    color: $color-main;
    /**
     * On focus show basic text w/o much styling
     */
    &:focus
    {
        font-weight: normal;

        color: $color-mine-shaft;
        outline: none;
    }
    /**
     * When search input isn't focused,
     * and is empty - show placeholder
     */
    &:empty:not(:focus)::before
    {
        font-weight: normal;

        content: attr(data-placeholder);
        cursor: text;
        text-transform: capitalize;

        color: $color-text-placeholder;
        background: $color-white;
    }
}

.inline-select__options
{
    height: 370px;
}

.inline-select-row
{
    font-size: 16px;
    line-height: 52px;

    display: flex;

    height: 52px;

    cursor: default;

    border-bottom: 1px solid #e1e1e1;
}
.inline-select-row:hover
{
    background: #fbfbfb;
}

.inline-option
{
    font-size: 16px;
    line-height: 53px;

    display: flex;

    height: 53px;
    margin-right: 20px;

    cursor: default;

    border-top: 1px solid #e1e1e1;

    align-items: center;

    &__label
    {
        display: inline-block;

        margin-left: 22px;
    }
}

/**
 * Client and Vendor forms
 */
.modal-form--client,
.modal-form--vendor
{
    display: flex;

    height: 617px;

    .modal-tabs
    {
        width: 1165px;
        &__content
        {
            padding-right: 330px;
        }
    }

    .modal-buttons-group--right
    {
        margin-right: 330px;
    }

    .result__list--empty
    {
        position: relative;

        height: 100%;
        max-height: 297px;
        margin-top: 0;

        border-top: none;
        background-image: url(../assets/images/placeholders/VatGirl.svg);
        background-position-x: -31px;
        background-position-y: -14px;
        background-size: 295px auto;

        .placeholder__text
        {
            font-size: 16px;
            line-height: 20px;

            position: absolute;
            bottom: 5px;

            margin: 30px 30px 23px 32px;

            text-align: center;
        }
    }

    .modal-sidebar
    {
        position: absolute;
        z-index: 1;
        right: 0;

        width: 330px;
        height: 100%;
        margin-top: 54px;
        padding: 38px 45px 0;

        border-left: 4px solid $color-wild-sand;
        background: #fff;
    }

    .dropdown--member-states
    {
        .dropdown__options
        {
            max-height: 330px;
        }
    }

    // Contact index
    .contact__index
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 29px;

        position: absolute;
        top: 17px;
        right: 35px;

        letter-spacing: 2px;

        color: $color-main;
    }

    .contact__index span
    {
        font-weight: 800;

        padding-left: 5px;

        color: $color-main;
    }
}
