/* Fade out */
.fade-enter-active {
  transition: opacity .3s ease-in-out;
  transition-delay: .1s;
}

/* Fade In */
.fade-leave-active {
  transition: opacity .3s ease-out;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.fade-enter {
    position: relative;
}

.--relative {
    position: relative;
}

.fade-enter-active.--relative > div,
.fade-leave-active.--relative > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.--disable-transition {
    transition: none !important;
}