$modal-shadow: 0 -4px 17px rgba(0,0,0,.03);

.background-dim
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 203;

    width: 100%;
    height: 100%;

    background: black;

    will-change: opacity;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.modal-container
{
    position: fixed;
    top: 0;
    left: 0;

    padding: 80px 0 0;

    opacity: 0;
    border-radius: 5px 5px 0 0;
    background: $modal-outer-bg;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);

    will-change: transform, opacity;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.modal
{
    position: absolute;
    z-index: 203;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform-origin: 50% 100%;
    pointer-events: none;

    opacity: 0;

    &--visible
    {
        pointer-events: all;

        opacity: 1;
    }
    &__title
    {
        font-size: 15px;
        font-weight: bold;

        position: absolute;
        top: 0;
        left: 65px;

        display: flex;

        height: 80px;

        user-select: none;
        text-transform: uppercase;

        align-items: center;
    }
    &__body
    {
        position: relative;

        border-radius: 4px 4px 0 0;
        background: $color-wild-sand;
    }
    &-tab
    {
        // position: relative;
        padding: 38px 55px 0;
    }
    &-icon
    {
        font-size: 12px;

        float: left;

        padding: 10px;

        cursor: pointer;

        background-size: cover;
        &__hide
        {
            i::before
            {
                color: $color-mine-shaft;
            }
        }
        &__full
        {
            display: none;

            transform: rotateZ(90deg);

            background-image: url('../assets/icons/fullscreen.svg');
            &:hover
            {
                // background-image: url('../assets/icons/fullscreen_hover.svg');
            }
        }
        &__close
        {
            i::before
            {
                color: $color-mine-shaft;
            }
        }
    }
    &__controls
    {
        position: absolute;
        top: 10px;
        right: 21px;
    }
    &-tabs
    {
        position: relative;

        user-select: none;
        &__list
        {
            // overflow: hidden;
        }
        &__content
        {
            height: 100%;
            padding-bottom: 150px;

            background: #fff;
            box-shadow: $modal-shadow;
        }
    }
    &__tab
    {
        font-size: 15px;
        font-weight: $font-weight-semibold;

        display: inline-flex;

        cursor: pointer;

        color: $color-mulled-wine;

        justify-content: center;
        align-items: center;

        @for $i from 1 through length($modal-tab-colors)
        {
            $color: nth($modal-tab-colors, $i);
            &:nth-child(#{$i})
            {
                &.modal__tab--active
                {
                    // color: $color-text-alt;
                    // background: $color;
                }
                .tab-number
                {
                    color: $color-text-alt;
                    background: $color;
                }
            }
        }
        &:nth-child(2),
        &:nth-child(4)
        {
            .tab-number
            {
                padding-left: 0;
            }
            .tab-text {
                text-transform: capitalize;
            }
        }

        .tab-title
        {
            display: inline-flex;
            // width: 212px;

            height: 54px;
            padding: 0 37px;

            align-items: center;
            justify-content: left;
        }

        &--active
        {
            position: relative;

            color: #373737;
            background: #fff;
            box-shadow: $modal-shadow;

            &::after
            {
                position: absolute;
                z-index: 1;
                top: 45px;
                left: 0;

                width: 100%;
                height: 15px;

                content: '';

                background: #fff;
            }
        }
    }
}

.modal-buttons
{
    font-size: 0;

    position: absolute;
    bottom: 40px;
    left: 0;

    width: 100%;
    padding: 0 55px;
    .button--create
    {
        height: 44px;

        vertical-align: bottom;
    }
    &-group
    {
        &::after
        {
            display: table;
            clear: both;

            content: '';
        }
        &--left
        {
            float: left;
        }
        &--right
        {
            float: right;
        }
         > .button:not(:first-child)
        {
            margin-left: 30px;
        }
    }
}

.tab-number
{
    display: flex;

    width: 28px;
    height: 25px;
    margin-right: 16px;
    padding-left: 1px;

    align-items: center;
    justify-content: center;
}

.modal-tab > .tabs:first-child
{
    margin-top: -21px;
}
