.table
{
    position: relative;
    // z-index: -1; /* so reversed dropdowns at the bottom of the table won't end up overlaped by the table */

    width: 100%;

    border-radius: $table-border-radius;
    box-shadow: $box-shadow-4;
    &--simple
    {
        box-shadow: none;
        border: 1px solid #e1e1e1;
    }
    &__heading
    {
        font-size: 0;

        display: flex;

        margin-top: 26px;
        margin-bottom: 37px;

        align-items: center;
    }
    .button--create + &__dropdowns {
        margin-left: 45px;
    }
    &__dropdowns
    {
        display: inline-block;

        vertical-align: middle;
         > .dropdown
        {
            float: left;
        }
    }
    &__head
    {
        font-weight: bold;

        display: flex;

        user-select: none;

        color: $color-main-dark;
        border-bottom: 1px solid #e6ebf1;
        border-radius: $table-border-radius $table-border-radius 0 0;
        background: #f7f8fc;
        .table--simple &
        {
            border-bottom: 1px solid #e1e1e1;
        }
        .column
        {
            height: 46px;

            border-color: $table-head-border-color;
            &__checkbox
            {
                .checkbox
                {
                    &::before
                    {
                        border-color: $color-main-dark;
                        background: #f6f9fc;
                    }
                    &::after
                    {
                        background: $color-main;
                    }
                }
            }
        }
    }
    &__body
    {
        font-size: 14px;

        border-radius: 0 0 $table-border-radius $table-border-radius;
        background: $table-bg;
        .column,
        span
        {
            text-decoration: none;
        }
        .column
        {
            position: relative;

            border-color: $table-border-color;
        }
    }
    &__row
    {
        display: flex;
        &:hover,
        &--hover
        {
            background-color: $table-row-hover-bg;
        }
        .column
        {
            height: $table-row-height;
        }
        &:last-child
        {
            .column:first-child
            {
                border-bottom-left-radius: $table-border-radius;
            }
            .column:last-child
            {
                border-bottom-right-radius: $table-border-radius;
            }
        }
        &:not(:last-child)
        {
            .column
            {
                border-bottom: 1px solid $table-border-color;
            }
        }
        &--full-width
        {
            &::after
            {
                display: table-cell;

                height: $table-row-height;

                content: '';
            }
            .column
            {
                line-height: $table-row-height;

                position: absolute;
                left: 0;

                width: 100%;
                padding: 0;
                padding-left: 0;

                text-align: center;

                background: $table-bg;

                justify-content: center;
            }
        }
        &--open
        {
            &:hover
            {
                background: none;
            }
             > .column
            {
                border-color: transparent !important;
            }
             > .column:nth-child(n+3)
            {
                display: none;
            }
        }
    }
    .column
    {
        &:not(th):not(td) {
            display: flex;
            // padding-left: 21px;

            vertical-align: middle;

            align-items: center;
        }
        &:not(.column--center)
        {
             > span,
             > a
            {
                overflow: hidden;

                margin-top: -1px;
                padding: 15px 21px;

                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        &__checkbox
        {
            width: 63px;
        }
        &:not(:last-child)
        {
            // border-right-width: 1px;
            // border-right-style: solid;
        }
        &--center
        {
            padding: 0;

            text-align: center;

            justify-content: center;
        }
    }
}

.status--dropdown
{
    position: relative;

    padding-right: 15px;

    text-align: center;
}

.status--dropdown::before
{
    position: absolute;
    top: 10px;
    right: 10px;

    content: '';

    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
