.table
{
    position: relative;

    width: 100%;

    box-shadow: $table-shadow;
    border-radius: $table-border-radius;
    &__heading
    {
        font-size: 0;

        margin-top: 26px;
        margin-bottom: 37px;
    }
    &__dropdowns
    {
        display: inline-block;

        margin-left: 45px;

        vertical-align: middle;
        > .dropdown
        {
            float: left;
        }
    }
    &__head
    {
        font-weight: bold;

        display: flex;

        user-select: none;

        color: $color-text-alt;
        background: $table-head-bg;
        border-radius: $table-border-radius $table-border-radius 0 0;
        .column
        {
            height: 50px;

            border-color: $table-head-border-color;

            &__checkbox
            {
                .checkbox
                {
                    &::before
                    {
                        border-color: $color-text-alt;
                        background: $color-main-dark;
                    }
                    &::after
                    {
                        background: $color-text-alt;
                    }
                }
            }
        }
    }
    &__body
    {
        font-size: 16px;

        background: $table-bg;
        border-radius: 0 0 $table-border-radius $table-border-radius;
        .column,
        span,
        {
            text-decoration: none;
        }
        .column
        {
            border-color: $table-border-color;
            &,
            a
            {
                // user-select: none;
            }
        }
    }
    &__row
    {
        display: flex;
        &:hover,
        &--hover
        {
            background-color: $table-row-hover-bg;
        }
        .column
        {
            height: $table-row-height;
        }
        &:last-child {
            .column:first-child {
                border-bottom-left-radius: $table-border-radius;
            }
            .column:last-child {
                border-bottom-right-radius: $table-border-radius;
            }
        }
        &:not(:last-child)
        {
            .column
            {
                border-bottom: 1px solid $table-border-color;
            }
        }
        &--full-width
        {
            &::after
            {
                display: table-cell;

                height: $table-row-height;

                content: '';
            }
            .column
            {
                line-height: $table-row-height;

                position: absolute;
                top: 50px;
                left: 0;

                width: 100%;
                padding: 0;
                padding-left: 0;

                text-align: center;

                background: $table-bg;

                justify-content: center;
            }
        }
        &--open {
            &:hover {
                background: none;
            }

            > .column {
                border-color: transparent !important;
            }

            > .column:nth-child(n+3) {
                display: none;
            }
        }
    }
    .column
    {
        display: flex;

        // padding-left: 21px;

        vertical-align: middle;

        align-items: center;
        &:not(.column--center) {
            > span, > a {
                padding: 15px 21px;
            }
        }
        &__checkbox
        {
            width: 63px;
        }
        &:not(:last-child)
        {
            border-right-width: 1px;
            border-right-style: solid;
        }
        &--center
        {
            padding: 0;

            text-align: center;

            justify-content: center;
        }
    }
}
