.tooltip {
  display: block !important;
  z-index: 10000;

  .tooltip-inner {
    background: white;
    color: black;
    border-radius: 4px;
    padding: 0;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: $color-white;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;
    padding: 5px;
    background: white;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 15px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

.tooltip {
    box-shadow: $box-shadow-5;
    border-radius: 4px;
    .result {
        margin-top: 0;
        margin-right: 0;
    }
    .result-border {
        width: 7px;
        border-radius: 4px 0 0 4px;
        margin-right: 0;
        box-shadow: $box-shadow-5;
    }
    .result-detail-main {
        padding: 15px 0;
    }
    .result-details {
        padding-top: 31px;
        padding-right: 16px;
        padding-bottom: 31px;
        padding-left: 55px;
        width: 293px;
        margin: 0 25px 0 0;
        background: #ffffff;
    }
    .result-detail__title {
        margin-top: 0;
    }
    .result-detail__sub-title {
        margin-bottom: 0 !important;
    }
    .result-detail__sub-title {
        margin: 5px 0 25px 10px;
    }
    &.status--valid {
        .tooltip-arrow {
            border-color: $color-forest-green;
        }
    }
    &.status--invalid {
        .tooltip-arrow {
            border-color: $color-red;
        }
    }
}