// .md-input-container {
//     margin: 1px 0 26px;
// }

/**
 * Auth form
 */
.md-input-container label {
    color: rgba(0,0,0,0.87);
}

.md-input-container::after {
    background-color: #8a8e91;
}

.md-input-invalid .md-error {
    bottom: -26px;
}

a:not(.md-button):not(.md-bottom-bar-item):hover {
    text-decoration: none;
}

.input-group__details {
    -webkit-backface-visibility: hidden;
}

.list__tile__action .input-group__details {
    display: flex;
    padding: 0 !important;
    min-height: 1px;
}

/**
 * Fix line height for form elements
 */
input, textarea {
    line-height: initial;
}

/**
 * Vuetify corrections
 */
.application--light .input-group label {
    font-size: 15px;
}

.application--light .input-group:not(.input-group--error) label {
    color: $color-mulled-wine;
}

.menu__content {
    box-shadow: $box-shadow;
}