/**
 * Definitions
 */

// Colors
$color-azure-radiance: #01a8fe;
$color-persian-green: hsla(166, 99%, 33%, 1);
$color-indigo: #5867c2;
$color-black: #000000;
$color-white: #ffffff;
$color-red: #e60b0b;
$color-mine-shaft: #373737;
$color-wild-sand: #f5f5f5;
$color-carnation: #f54d4d;
$color-dove-gray: #6d6d6d;
$color-mercury: #e1e1e1;
$color-blaze-orange: #ff6c02;
$color-forest-green: #24b921;
$color-purple-heart: #9f33d4;
$color-alabaster: #fbfbfb;
$color-gallery: #ebebeb;
$color-dusty-gray: #949494;
$color-oslo-gray: #8a8e91;
$color-mulled-wine: #494d66;
$color-new-york-pink: #df8383;
$color-emerald: #5bc26e;
$color-storm-gray: #6d7084;

// Fonts
$primary-font-family: 'Open Sans', sans-serif;
$font-weight-semibold: 600;
$font-weight-bold: bold;

// Shadows
$box-shadow-1: 0 2px 5px 0 rgba(161, 161, 161, 0.3);//, -1px 0px 5px 0 rgba(161, 161, 161, 0.3), 1px 0px 5px 0 rgba(161, 161, 161, 0.3);
$box-shadow-2: 0 2px 5px rgba(0, 0, 0, .2);
$box-shadow-3: -3px 2px 5px rgba(0, 0, 0, 0.05), 3px 2px 5px rgba(0, 0, 0, 0.05), 0px 0px 5px rgba(0, 0, 0, 0.05);
$box-shadow-primary-dropdown-options: -3px 2px 5px rgba(0, 0, 0, 0.05), 3px 2px 5px rgba(0, 0, 0, 0.05);
$box-shadow-4: -3px 2px rgba(0, 0, 0, .05), 3px 2px 5px rgba(0, 0, 0, .05), 0 5px 5px rgba(0, 0, 0, .05), 0 -3px 10px rgba(0, 0, 0, .03);
$box-shadow-5: 0 0 7px rgba(0, 0, 0, .25);
$box-shadow-context-menu: -3px 2px rgba(0, 0, 0, .05), 3px 2px 5px rgba(0, 0, 0, .05), 0 5px 5px rgba(0, 0, 0, .05), 0 -3px 10px rgba(0, 0, 0, .04);
$box-shadow-modal-body: -3px 2px 4px rgba(0, 0, 0, 0.05), 3px 2px 4px rgba(0, 0, 0, 0.05), 0 5px 5px rgba(0, 0, 0, 0.05), 0 -3px 10px rgba(0, 0, 0, 0.03);
$box-shadow: $box-shadow-3;

// Borders
$border-radius: 3px;
$table-border-radius: 4px;

/**
 * Variables
 */

$color-main: $color-indigo;
$color-main-dark: $color-mine-shaft;

$modal-bg-dim: rgba($color-black, 0.4);
$modal-inner-bg: $color-white;
$modal-outer-bg: $color-wild-sand;
$modal-tab-colors: #6871b1, #ec8b46, $color-emerald, #836cb2;

$color-text: $color-black;
$color-text-alt: $color-white;

$color-text-placeholder: $color-dusty-gray;

$border-color: $color-mercury;

// - Page
$color-page-bg: $color-wild-sand;

// - Navbar
$color-navbar-bg: $color-white;
$color-navbar-link-hover-bg: $color-mine-shaft;
$color-navbar-link-hover: $color-text-alt;
$color-navbar-link-active: $color-text-alt;
$color-notifications-count: $color-white;
$color-notifications-count-bg: $color-carnation;
$height-navbar: 50px;

// - Sidebar
$sidebar-width: 220px;

// - Table
$table-shadow: $box-shadow;
$table-head-bg: $color-mine-shaft;
$table-bg: $color-white;
// $table-head-border-color: $color-dove-gray;
$table-head-border-color: $color-wild-sand;
$table-border-color: $color-mercury;
$table-row-hover-bg: $color-wild-sand;
$table-row-height: 53px;