.taskbar
{
    position: fixed;
    z-index: 202;
    right: 0;
    bottom: 0;

    width: 100%;

    user-select: none;
    transform-origin: 100% 100%;
}

.taskbar__item
{
    font-size: 15px;
    font-weight: 600;

    position: absolute;
    right: 0;
    bottom: -10px;

    display: flex;

    min-width: 200px;
    height: 50px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;

    cursor: pointer;
    transition: all .1s;

    color: #fff;
    border-radius: 10px 10px 0 0;
    // box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);
    box-shadow: -3px 2px rgba(0, 0, 0, .05), 3px 1px 1px rgba(0, 0, 0, .20), 0 5px 5px rgba(0, 0, 0, .05), 0 -3px 10px rgba(0, 0, 0, .03);

    justify-content: center;
    align-items: center;
    &.active
    {
        font-weight: 600;
    }

    &:hover
    {
        z-index: 1;
        bottom: 0;
        .taskbar-item__content
        {
            &::before
            {
                position: absolute;
                bottom: 13px;
                left: 50%;

                width: 70px;
                height: 2px;

                content: '';
                transform: translate(-50%, 0);

                background: rgba(255, 255, 255, .8);
            }
        }
    }
    @for $i from 1 through length($list-of-colors)
    {
        &--c-#{$i} {
            background: nth($list-of-colors, $i);
        }
    }
}

.taskbar-item
{
    &__close
    {
        position: absolute;
        top: 0;
        right: 0;

        padding: 20px;

        cursor: pointer;

        filter: opacity(.8);
        &::before
        {
            position: absolute;
            top: 15px;
            right: 15px;

            width: 12px;
            height: 12px;

            content: '';

            background: url(../../assets/icons/cross-white.svg) center center no-repeat;
            background-size: contain;
        }
    }
}
