.taskbar
{
    position: fixed;
    right: 0;
    bottom: 0;

    width: 100%;

    user-select: none;
}

.taskbar__item
{
    font-size: 15px;
    font-weight: 600;

    position: absolute;
    right: 0;
    bottom: 0;

    display: flex;

    width: 200px;
    height: 44px;

    cursor: pointer;
    transition: all .1s;

    color: #fff;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25);

    justify-content: center;
    align-items: center;
    &:hover
    {
        z-index: 1;
        height: 50px;
    }
    &.active
    {
        font-weight: 600;
    }

    &:nth-child(4n+1)
    {
        background: #6871b1;
    }
    &:nth-child(4n+2)
    {
        background: #ec8b46;
    }
    &:nth-child(4n+3)
    {
        background: #836cb2;
    }
    &:nth-child(4n+4)
    {
        background: $color-emerald;
    }
}
