.taskbar
{
    position: fixed;
    right: 0;
    bottom: 0;

    width: 100%;

    user-select: none;
}

.taskbar__item
{
    font-size: 13px;
    line-height: 40px;

    float: right;

    margin: 0 4px;
    padding: 0 15px;

    cursor: pointer;
    transition: all .1s;

    background: $color-white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    &:hover
    {
        margin-top: -3px;
    }
    &.active
    {
        font-weight: 600;
    }
}
