.pageContent {
    display: flex;
    line-height: initial;
    align-items: flex-start;
}

.profileContainer,
.tabsContainer {
    border-radius: 5px;
    box-shadow: $primary-box-shadow;
    background: #fff;
}

.profileContainer {
    width: 30%;
    padding: 32px;
}

.tabsContainer {
    width: 70%;
    margin-left: 30px;
    padding: 15px 32px 24px;

    .placeholder-area {
        margin-top: 92px;
    }
}