$icomoon-font-path: "../assets/fonts" !default;

$btn-icon-clients: "\e900";
$btn-icon-appointments: "\e901";
$btn-icon-credits: "\e902";
$btn-icon-currency: "\e903";
$btn-icon-expenses: "\e904";
$btn-icon-invoices: "\e905";
$btn-icon-overview: "\e906";
$btn-icon-payments: "\e907";
$btn-icon-personel: "\e908";
$btn-icon-products: "\e909";
$btn-icon-projects: "\e90a";
$btn-icon-quotes: "\e90b";
$btn-icon-reports: "\e90c";
$btn-icon-settings: "\e90d";
$btn-icon-vendors: "\e90e";

