.sidebar
{
    position: fixed;
    top: 5px;
    left: calc(50vw - 1660px / 2);
    min-width: $sidebar-width;

    &__content
    {
        display: flex;
        flex-direction: column;

        margin-top: 40px;

        user-select: none;
    }
    .profile-area
    {
        width: 182px;
        margin-left: 24px;
        .profile-name
        {
            color: $color-mine-shaft;
        }
    }
    &__nav
    {
        width: 220px;
        margin: 32px 25px;

        text-align: left;
        letter-spacing: .1px;
        hr
        {
            height: 0;
            margin-top: 10px;
            margin-bottom: 4px;

            border: none;
            border-top: 1px solid #eee;
        }
        &-link
        {
            font-size: 15px;
            line-height: 26px;

            position: relative;

            display: flex;

            margin-right: 11px;
            padding: 6px 0 7px 75px !important;

            cursor: pointer;
            text-decoration: none;

            color: $color-mulled-wine !important;

            align-items: center;
            &:hover,
            &--active
            {
                color: #000 !important;
                .sidebar-icon--appointments
                {
                    background-image: url('../../assets/icons/sidebar/hover/1__Appointments hover.svg');
                }
                .sidebar-icon--products
                {
                    background-image: url('../../assets/icons/sidebar/hover/1__Products hover.svg');
                }
                .sidebar-icon--clients
                {
                    background-image: url('../../assets/icons/sidebar/hover/1__Client hover.svg');
                }
                .sidebar-icon--credits
                {
                    background-image: url('../../assets/icons/sidebar/hover/1__Credits hover.svg');
                }
                .sidebar-icon--currency
                {
                    background-image: url('../../assets/icons/sidebar/hover/1__Currency hover.svg');
                }
                .sidebar-icon--expenses
                {
                    background-image: url('../../assets/icons/sidebar/hover/1__Expenses hover.svg');
                }
                .sidebar-icon--invoices
                {
                    background-image: url('../../assets/icons/sidebar/hover/1__Invoice hover.svg');
                }
                .sidebar-icon--overview
                {
                    background-image: url('../../assets/icons/sidebar/hover/1__Overview hover.svg');
                }
                .sidebar-icon--payments
                {
                    background-image: url('../../assets/icons/sidebar/hover/1__Payment hover.svg');
                }
                .sidebar-icon--personnel
                {
                    background-image: url('../../assets/icons/sidebar/hover/1__Personel hover.svg');
                }
                .sidebar-icon--projects
                {
                    background-image: url('../../assets/icons/sidebar/hover/1__Projects hover.svg');
                }
                .sidebar-icon--quotes
                {
                    background-image: url('../../assets/icons/sidebar/hover/1__Quotes hover.svg');
                }
                .sidebar-icon--reports
                {
                    background-image: url('../../assets/icons/sidebar/hover/1__Reports hover.svg');
                }
                .sidebar-icon--vendors
                {
                    background-image: url('../../assets/icons/sidebar/hover/1__Vendors hover.svg');
                }
                .sidebar-icon--settings
                {
                    background-image: url('../../assets/icons/sidebar/hover/1__Settings hover.svg');
                }
            }
            &--active
            {
                color: #000 !important;
                background: #ebeceb;
                &::before
                {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 6px;
                    height: 38px;

                    content: '';

                    background: #5867c2;
                }
            }
            &--disabled
            {
                color: $color-dusty-gray !important;
                &:hover
                {
                    cursor: default;

                    color: $color-dusty-gray !important;
                    background: none;
                }
            }
            i
            {
                position: absolute;
                top: 7px;
                left: 40px;

                display: inline-block;

                width: 32px;
                margin-right: 3px;

                &.sidebar-icon--credit
                {
                    top: 8px !important;
                }
            }
        }
        &-category
        {
            font-weight: 700;
            font-style: normal;
            line-height: 20px;

            margin-right: 11px;
            margin-bottom: 5px;
            padding: 0 40px 0;

            text-transform: uppercase;

            color: $color-main;
        }
    }
}

.company
{
    position: relative;

    width: 100%;
    height: 52px;
    margin-left: 63px;

    cursor: pointer;
}

.companyInfo
{
    position: absolute;
    top: 16px;
    right: 17px;
    left: 40px;

    pointer-events: none;
}

.companyName
{
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;

    overflow: hidden;

    transition: transform .2s ease-in-out,opacity .2s ease-in-out;
    transform-origin: 0 50%;
    white-space: pre;
    text-overflow: ellipsis;

    color: #424770;
}

.companyLogo
{
    position: absolute;
    top: 16px;
    left: 0;

    overflow: hidden;

    width: 29px;
    height: 29px;

    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(49,49,93,.1), 0 1px 2px 0 rgba(0,0,0,.08);

    flex-shrink: 0;
}

.companyLogoContent
{
    overflow: hidden;

    width: 30px;
    height: 30px;

    transition: opacity .2s ease-in-out;

    border-radius: 15px;
    background-position: 50%;
    background-size: 100% 100%;

    .company--newCompany & {
        background-image: url(../../assets/icons/companyAdd.svg);
        background-size: 16px 16px;
        background-repeat: no-repeat;
    }
}

.companyLogo--none .companyLogoContent::after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background-position: 50%;
    background-size: 100% 100%;
    background-image: url(../../assets/icons/company.svg);
}
